@media (min-width: 768px) {
  .row-sm-offset-3 div:first-child[class*="col-"] {
    margin-left: 25%;
  }
}

.page_login .login_Title {
  text-align: center;
  line-height: 300%;
}

.page_login .social_buttons a {
  color: white;
  opacity: 0.9;
}

.page_login .social_buttons a:hover {
  color: white;
  opacity:1;    	
}
.page_login .social_buttons .btn-anonymous {
  background: #4F5051;
  padding-left: 0.7em;
}
.page_login .social_buttons .btn-facebook {background: #3b5998;}
.page_login .social_buttons .btn-twitter {background: #00aced;}
.page_login .social_buttons .btn-google {background: #c32f10;}

.page_login .login_or {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.page_login .login_or .hr_or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.page_login .login_or .span_or {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}			

.page_login .loginForm .input-group.i {
 width: 2em;
}
.page_login .loginForm .help-block {
  color: red;
}
	
@media (min-width: 768px) {
  .page_login .forgotPwd {
    text-align: right;
    margin-top:10px;
  }		
}